<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script>
        var page_url = window.location.protocol + "//" + window.location.host + window.location.pathname;
    </script>
    <link id='style' rel="stylesheet" href="static/style/style.css">
	<script>document.getElementById("style").href = page_url + "/static/style/style.css"</script>
    <script>
    var methodname = "{{ methodname }}/"; // from render_template function input in app.py
    var url = page_url + methodname;

    $( document ).ready(function() {
    $("#txt").val("This is a TEST of making letters LOWERCASE."); // requires jquery for this syntax
    });

    function doit() {
      $("#loading").show(); // shows the loading gif while we wait for function to execute
      setTimeout(function(){    }, 2000);

      var txt = $("#txt").val();
      var return_data = {"text": txt};

      $.ajax({
        type: "POST",
        url: url,
        contentType: "application/json",
        data: JSON.stringify(return_data),
        success: function(result) {
          console.log(result);
          $("#returnData").text(JSON.stringify(result, undefined, 2));
          $("#loading").hide(); // hide the loading gif when function is done.
            // this hiding must be done in this brackets because ajax POST requests are asynchronus with
            // the rest of the script. This way, it only hides whent the response is received.
        }
      });
    }

    </script>
</head>
<body>

<h1>
    <img src="static/media/nasa.png" width="60">
    &emsp;Docker Flask Template <span id="version">(service v{{ version }} | interface v{{ interface_version }})</span>
</h1>

<button class="accordion">Description</button>
<div class="panel">
    <p>
        This service contains a single endpoint, &quot;<i>{{ root }}/{{ methodname }}/</i>&quot;,
        The code for this test service is available <a href="https://developer.nasa.gov/DataSquad/docker_templates/">here</a>.
    </p>
</div>

<button class="accordion">How to Use</button>
<div class="panel">
    <p>
        You can access the endpoint using the interface below or by using standard web request technologies. For example, using <a href="https://curl.haxx.se/">curl</a>:
    <div id="request">
        <pre id="curl_1"></pre>
    </div>
    </p>
    <script>document.getElementById("curl_1").innerHTML = "curl " + url + " -H 'Connection: keep-alive' -d \'{\"text\": \"This is an example text string.\"}\' --compressed" </script>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<div class="background">

<div class="clientBox">
    <h2>Client</h2>

    <p class="side">
        <label>request_id:</label>
        <input id="request_id"></input>
    </p>

    <p class="side">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
        <textarea rows="30" cols="65" id="txt" type="text" placeholder="text to tag"></textarea>
        <br/>
        <button onclick="doit();">Run Service</button>
    </p>

</div>

<div class="clientBox">
    <h2 class="returnBox">
        <h2>Return Data<img id="loading" src="static/media/ajax-loader.gif"></h2>
    </h2>
    <div class="return">
        <pre id="returnData"></pre>
    </div>
</div>

</div>
<footer>
  <p>This is a footer. Maybe put an email contact here: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer>

</body>
</html>
